.app-detail-person {
	font-size: 13px;
	width: 75%;
	margin: 0 auto;
	padding: 20px 0;
	input, textarea {
		outline: none;
	    border: none;
	    box-shadow: none;
	}
	.detail-person-id, 
	.detail-person-name ,
	.detail-person-birthday, 
	.detail-person-birthday, 
	.detail-person-mediacation, 
	.detail-person-tags,
	.detail-person-adress,
	.detail-person-postalcode,
	.detail-person-email,
	.detail-person-survey {
		border: 1px solid lightgray;
		border-radius: 2px;
		padding: 5px;
	}
	.detail-contact {
		padding: 20px 0;
		.detail-contact-add {
			line-height: 50px;
			color: cyan;
			border-bottom: 1px solid lightgray;
			cursor: pointer;
		}
	}
}